body{
padding: 0;
margin: 0;
background-color: #555;
align-items: center;
justify-content: center;
height: 100vh;
display: flex;

}


.container{

position: relative;
width: 800px;
height: 500px;
background: black;

}

.clip{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transition: all 0.5s;
}

.clip1{

    background: url(https://www.wallpaperflare.com/static/739/995/734/girl-boat-paddle-mountains-wallpaper.jpg);

background-position: center;
background-size: cover;

clip-path: polygon(0 0, 26% 0, 79%  100% , 0 100%)

}

.clip2{

    background: url(https://images.westend61.de/0000937047pw/young-woman-canoeing-rear-view-emerald-lake-yoho-national-park-canada-CUF03819.jpg);

background-position: center;
background-size: cover;
clip-path: polygon(19% 0, 87% 0, 64%  100%, 0 100%);
}



.clip3{

    background: url(https://th.bing.com/th/id/OIP.dHzgGUVzGJmhlgIKqQrpKAHaLH?w=768&h=1152&rs=1&pid=ImgDetMain);

background-position: center;
background-size: cover;
clip-path: polygon(82% 0, 100% 0, 100%  100% ,63% 100%);
}


.container:hover .clip{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}


.container .clip:hover{

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}